<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li class="nav-link">
          <a href="/">Inicio</a>
        </li>
        <li class="nav-link">
          <a href="/todos">Todos</a>
        </li>
      </ul>
    </nav>
