<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1><%= name %></h1>
    <img
      src="<%= sprites.other.dream_world.front_default %>"
      alt=""
      srcset=""
      height="300"
    />
  </body>
</html>
